
@import url(https://fonts.google.com/specimen/Space+Mono);

/* html {
  font-size: 24px;
} */

body {
  background-color:hsl(185, 41%, 84%);
  font-family: monospace, sans-serif;
}

.box {
  display: flex;
  justify-self: center;
  align-self: center;
  padding-left: 400px;
}

.blt {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  width: 350px;
  background-color: hsl(183, 100%, 15%);
  border-radius: 25px;
}

.grn {
  display: flex;
  flex-direction: column;
  align-content: left;
  padding: 0px 10px;
  width: 600px;
  background-color: white;
  border: hidden;
}

#custom {
  background-color: hsl(189, 41%, 97%);
}

 .calculator {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content:center;
  height: 300px;
  width: 500px;
  box-sizing: content-box;
  /* padding: 125px 40px 50px 3px; */
  padding-left: 100px;
  padding-right: 150px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 30px;
  margin-right: 200px;
  margin-left: 0px;
  border-radius: 25px;
  background-color: white;
} 

.result {
  display: flex;
  /* align-items: flex-end; */
  /* justify-content: flex-end; */
  height: 300px;
  width: 400px;
  margin: 25px;
  margin-right: 0px;
  flex-direction: column;
} 

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.tip, .total {
  font-size: 2rem;
}

.card-text {
  font-size: 1rem;
}

.btn {
  background-color:hsl(183, 100%, 15%);
}
.dollar {
  color:hsl(172, 67%, 45%);
}

.reset {
  background-color: hsl(184, 14%, 56%);
}